<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750374077754-9ug4ea338r72090joq1u7tnhsk41cqbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750374077754-9ug4ea338r72090joq1u7tnhsk41cqbi</string>
	<key>API_KEY</key>
	<string>AIzaSyB3jap0tgcMp9Aos9561gTSd-WrmX5vAl4</string>
	<key>GCM_SENDER_ID</key>
	<string>750374077754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kurutomoApp</string>
	<key>PROJECT_ID</key>
	<string>kurutomodev</string>
	<key>STORAGE_BUCKET</key>
	<string>kurutomodev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750374077754:ios:0ee84f0825702fb7b5fc03</string>
</dict>
</plist>